body{
   
  background-image: url(im.jpg);
  background-size: 1350px 832px;
  width: 300px;
  height: 300px;
  color: white;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
    
    
    
   
  
  
}
.final{
  border: 1px solid white;
    height: 0px;
    width: 900px;
    position: absolute;
    left: 399px;
    top: 95px;
    color: white;
}
.line{
  height: 50px;
    border: 1px solid rgba(255,255,255,0.2);
    position: relative;
    top: 18px;
    width: 0px;
    left: 286px

}
.cir{
  height: 10px;
    border: 1px solid white;
    width: 10px;
    position: relative;
    left: 281px;
    top: 15px;
    border-radius: 20px;
    background: white;

}
.line2{ height: 0px;
  border: 1px solid rgba(255,255,255,0.2);
  width: 53px;
  position: relative;
  left: 320px;
  bottom: 110px;

}
.cir2{ height: 10px;
  border: 1px solid white;
  width: 10px;
  position: relative;
  bottom: 117px;
  left: 375px;
  border-radius: 13px;
  background: white;

}
/* .bgimage{
  background-image: url(im.jpg);
  background-size: 150px;
  width: 300px;
  height: 300px;
  border: 2px solid;
  color: pink;
   


} */
.list{
  /* border: 2px solid black; */
  display: inline-flex;
  justify-content: center;
  margin-left: 330px;
  position: relative;
  top: -125px;
}
.list-item{
    /* border: 2px solid black; */
    list-style-type: none;
    padding-left: 70px;
    font-weight: 600;
    

}
.navbar h1{
    /* border: 2px solid black; */
    display: inline-block;
    margin-top: 50px;
    margin-left: 25px;
    width: 100px;
}
.contact h3{
  /* border: 2px solid black; */
  margin-top: -167px;
  float: right;
  position: relative;
  left: 1017px;
}
.left h1{
  /* border: 2px solid black; */
  display: inline-block;
  margin-left: 62px;
  width: 500px;
  font-size: 40px;
  margin-top: 20px;
  font-weight: 600;

}
.right{
    /* border: 2px solid black; */
    float: right;
}
.circle1 {
  width: 94px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 30px;
  background: white;
  }
.circle2 {
  width: 94px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 30px;
  background: white;
  }
  .first{
    /* border: 2px solid blue;

    border: 2px solid blue; */
    position: relative;
    bottom: 281px;
    left: 880px;
    padding-left: 23px;
    width: 320px;
    height: 150px;
    padding-top: 30px;
    background: rgba(255,255,255,0.2);
    border: none;
}
img[src="Vector.svg"]{
  position: absolute;
  top: 37px;
  left: 49px;

} 

img[src="bul.svg"]{
  position: absolute;
  top: 37px;
  left: 57px;

} 

img[src="phone.svg"]{
  float: right;
    position: relative;
    top: -150px;
    left: 810px;
    /* fill: white; */

}
  
  .second{
    /* border: 2px solid green; */
    float: right;
    position: relative;
    top: -220px;
    left: 616px;
    padding-left: 23px;
    width: 320px;
    height: 150px;
    padding-top: 30px;
    border: none;
    
    background: rgba(255,255,255,0.2);
  }
  .left button{
    padding: 17px 30px;
    font-size: 20px;
    border-radius: 35px;
    background: transparent;
    margin-left: 65px;
    color: white;
    border: 2px solid;
  }
  .solid{
    display: none;
  }

  @media screen and (max-width:800px) {
    .list{
      display: none;
    }
    .contact{
      display: inline-block;
      align-items: flex-start;
      position: relative;
      left: -727px;
      top: 57px;
    }

    
    .final{
      display: none;
    }
    img[src="phone.svg"]{
      margin-right: 10px;
      top: -73px;

    }
    body{
    
    background-image: url(im.jpg);
    background-size: 1350px 980px;
    width: 300px;
    height: 300px;
    /* border: 2px solid; */
    color: white;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
      
      
      
    }  
    .first{
      border: 2px solid black;
    position: relative;
    left: 70px;
    top: 242px

    }
    .second{
      position: relative;
    left: 64px;
    top: -152px;

    }
    .left .heading{
      margin-left: -21px;
    text-align: center;

    }
    .left button{
      text-align: center;
      margin-left: 150px;
    }
    .left button:hover{
      background: black;
      cursor: pointer;
    }
    .solid{
      display: inline;
      float: right;
    }



  }
